html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: var(--black);
	margin: 0;
	padding: 8px;
	box-sizing: border-box;
	font-family: ArianaPro, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

input[type="range"] {
	height: 0;
}

button {
	padding: 0;
	background-color: inherit;
	border: 0;
	margin: 0;
	cursor: pointer;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	/*background-color: #ddd;*/
}

button:focus {
	border-color: #666;
}





/*fonts*/
@font-face {
	font-family: "ArianaPro";
	font-weight: 400;
	src: url("/public/static/font/Ariana_Pro/Ariana Pro Book.otf") format("otf")
}

@font-face {
	font-family: "ArianaPro";
	font-weight: 500;
	src: url("/public/static/font/Ariana_Pro/Ariana Pro Regular.otf") format("otf")
}
@font-face {
	font-family: "ArianaPro";
	font-weight: 600;
	src: url("/public/static/font/Ariana_Pro/Ariana Pro Medium.otf") format("otf")
}

@font-face {
	font-family: "ArianaPro";
	font-weight: 700;
	src: url("/public/static/font/Ariana_Pro/Ariana Pro Bold.otf") format("otf")
}

@font-face {
	font-family: "ArianaPro";
	font-weight: 800;
	src: url("/public/static/font/Ariana_Pro/Ariana Pro Black.otf") format("otf")
}

@font-face {
	font-family: "ArianaPro";
	font-weight: 900;
	src: url("/public/static/font/Ariana_Pro/Ariana Pro Heavy.otf") format("otf")
}


:root {
	/*theme*/
	--rgb-blue: 124, 139, 247;
	--rgb-blue-light: 120, 181, 255;
	--rgb-purple: 124, 139, 247;
	--rgb-pink: 235, 135, 255;
	--rgb-red: 255, 94, 166;
	--rgb-light-pink: 247, 196, 240;

	--blue: rgb(var(--rgb-blue));
	--blue-light: rgb(var(--rgb-blue-light));
	--purple: rgb(var(--rgb-purple));
	--pink: rgb(var(--rgb-pink));
	--red: rgb(var(--rgb-red));
	--light-pink: rgb(var(--rgb-light-pink));

	/*other color*/
	--rgb-gray: 240, 243, 247;
	--rgb-black: 85, 93, 115;

	--gray: rgb(var(--rgb-gray));
	--black: rgb(var(--rgb-black));

	--primary: var(--blue);
	--rgb-primary: var(--rgb-blue);
}

[data-primary='color_blue'] {
	--primary: var(--blue);
	--rgb-primary: var(--rgb-blue);
}
[data-primary='color_blue-light'] {
	--primary: var(--blue-light);
	--rgb-primary: var(--rgb-blue-light);
}
[data-primary='color_purple'] {
	--primary: var(--purple);
	--rgb-primary: var(--rgb-purple);
}
[data-primary='color_pink'] {
	--primary: var(--pink);
	--rgb-primary: var(--rgb-pink);
}
[data-primary='color_red'] {
	--primary: var(--red);
	--rgb-primary: var(--rgb-red);
}
[data-primary='color_light-pink'] {
	--primary: var(--light-pink);
	--rgb-primary: var(--rgb-light-pink);
}
