html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: var(--black);
	margin: 0;
	padding: 8px;
	box-sizing: border-box;
	font-family: ArianaPro, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

input[type="range"] {
	height: 0;
}

button {
	padding: 0;
	background-color: inherit;
	border: 0;
	margin: 0;
	cursor: pointer;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	/*background-color: #ddd;*/
}

button:focus {
	border-color: #666;
}





/*fonts*/
@font-face {
	font-family: "ArianaPro";
	font-weight: 400;
	src: url("/public/static/font/Ariana_Pro/Ariana Pro Book.otf") format("otf")
}

@font-face {
	font-family: "ArianaPro";
	font-weight: 500;
	src: url("/public/static/font/Ariana_Pro/Ariana Pro Regular.otf") format("otf")
}
@font-face {
	font-family: "ArianaPro";
	font-weight: 600;
	src: url("/public/static/font/Ariana_Pro/Ariana Pro Medium.otf") format("otf")
}

@font-face {
	font-family: "ArianaPro";
	font-weight: 700;
	src: url("/public/static/font/Ariana_Pro/Ariana Pro Bold.otf") format("otf")
}

@font-face {
	font-family: "ArianaPro";
	font-weight: 800;
	src: url("/public/static/font/Ariana_Pro/Ariana Pro Black.otf") format("otf")
}

@font-face {
	font-family: "ArianaPro";
	font-weight: 900;
	src: url("/public/static/font/Ariana_Pro/Ariana Pro Heavy.otf") format("otf")
}


:root {
	--primary: #7C8BF7;

	--pink: #EB87FF;
	--light-pink: #F7C4F0;
	--red: #FF5EA6;
	--gray: #f0f3f7;
	--blue: #7C8BF7;
	--blue-light: #78B5FF;
	--purple: #7C8BF7;
	--black: #555D73;
}

[data-primary="color_blue"] {
	--primary: #7C8BF7;
}
[data-primary="color_blue-light"] {
	--primary: #78B5FF
}
[data-primary="color_purple"] {
	--primary: #7C8BF7;
}
[data-primary="color_pink"] {
	--primary: #EB87FF
}
[data-primary="color_red"] {
	--primary: #FF5EA6;
}
[data-primary="color_light-pink"] {
	--primary: #F7C4F0;
}
